/* 详情页样式 */
.detail-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.back-btn {
  position: absolute;
  left: 1750px;
  top: 42px;
  width: 120px;
  height: 120px;
  
  z-index: 10;
}

.scroll-container {
  position: absolute;
  left: 166px;
  top: 212px;
  width: 1590px;
  height: 766px;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  -webkit-overflow-scrolling: touch;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.director-item {
  width: 280px;
  height: 766px;
  border-left: 2px solid #FFD59F;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 92px;
  padding-left: 12px;
  flex-shrink: 0;
  position: relative;
}

.director-name-contrainer {
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.director-name-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.director-name-wrapper.death {
  border: 1px solid #000;
  padding: 8px 4px;
}

.director-name {
  font-family: 'FZCuHeiSong-B-JF';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  color: #544025;
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: 0.2em;
  white-space: nowrap;
  height: auto;
  display: inline-block;
}

.bracket-top,
.bracket-bottom {
  font-family: 'FZCuHeiSong-B-JF';
  font-size: 40px;
  color: #544025;
  writing-mode: vertical-rl;
  text-orientation: upright;
  line-height: 1;
  height: auto;
}

.director-image {
  width: 176px;
  height: 235px;
  object-fit: cover;
  margin-bottom: 12px;
  border: 4px solid #A4A4A4;
  box-shadow: inset -6px -6px 4px rgba(0, 0, 0, 0.2), inset 6px 6px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}



.director-date {
  font-family: 'FZLanTingHeiS-DB-GB';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #544025;
  text-align: left;
}

.circle-img {
  position: absolute;
  left: -8px;
  top: 540px;
}

.nav-btn-left {
  position: absolute;
  left: 21px;
  top: 557px;
  z-index: 10;
  pointer-events: none;
}

.nav-btn-right {
  position: absolute;
  left: 1818px;
  top: 555px;
  z-index: 10;
  pointer-events: none;
}

@keyframes handSwipe {
  0% {
    left: 1200px;
  }
  20% {
    left: 1200px;
  }
  80% {
    left: 900px;
  }
  100% {
    left: 900px;
  }
}

.hand-swipe-animation {
  width: 90px;
  height: 90px;
  animation: handSwipe 2s infinite;
  animation-timing-function: linear;
}