.modal-mask {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    /* filter: blur(10px); */
}

.modal-mask-bg {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
}

.modal-content {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.modal-image {
    width: 1000px;
    height: 800px;
    object-fit: contain;
    /* background: #FDFAEE; */
    /* box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.2); */
}

.modal-caption {
    font-family: 'FZLanTingHeiS-DB-GB', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    text-align: left;
    text-indent: 2em;
    color: #ffffff;
    max-width: 800px;
    display: inline-block;
    word-break: break-word;
}