
@font-face {
  font-family: 'FZLanTingHeiS-DB-GB';
  src: url('./assets/FZLanTingHeiS-DB-GB.TTF');
}

.App {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
}