@font-face {
  font-family: 'FZCuHeiSong-B-JF';
  src: url('../../assets/FZCuHeiSong-B-JF.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FZLanTingHeiS-DB-GB';
  src: url('../../assets/FZLanTingHeiS-DB-GB.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.detail-page2 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('../../assets/bg4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.detail2-page {
  align-items: center;
  justify-content: center;
}

.detail2-back-btn {
  position: absolute;
  left: 1794px;
  top: 142px;
  width: 75px;
  height: 75px;
  z-index: 99;
  background-image: url('../../assets/backButton.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.detail2-info {
  position: absolute;
  left: 88px;
  top: 180px;
  max-width: calc(100% - 176px);
  height: auto;
}

.detail2-name-title-container {
  position: absolute;
  left: 160px;
  top: 244px;
  /* width: 731px; */
}

.detail2-child-name {
  /* width: 731px; */
  /* height: 40px; */
  font-family: 'FZCuHeiSong-B-JF';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #AC080F;
}

.detail2-child-title {
  /* width: 728px; */
  margin-top: 10px;
  font-family: 'FZCuHeiSong-B-JF';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  color: #AC080F;
  white-space: pre-line;
}

.detail2-child-summary-scroll {
  position: absolute;
  width: 860px;
  height: 468px;
  left: 160px;
  top: 396px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.detail2-child-summary-scroll::-webkit-scrollbar {
  display: none;
}

.detail2-child-summary {
  font-family: 'FZLanTingHeiS-DB-GB';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: justify;
  color: #281507;
  text-indent: 2em;
}

.detail2-images-wrapper {
  position: absolute;
  left: 160px;
  top: 460px;
}

.detail2-nav-btn {
  position: absolute;
  width: 80px;
  height: 40px;
  top: 980px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.3s;
}

.detail2-nav-left {
  /* transform: translateX(-50%); */
  left: 750px;
}

.detail2-nav-right {
  /* transform: translateX(50%); */
  right: 750px;
}

.detail2-nav-btn.disabled {
  opacity: 0.5;
}

.detail2-images-container {
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
}

.detail2-image-item {
  display: flex;
  flex-direction: column;
  width: 520px;
  flex-shrink: 0;
}

.detail2-child-image {
  width: 520px;
  height: 390px;
  background: #FFFFFF;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.2);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.detail2-image-caption {
  width: 520px;
  margin-top: 20px;
  font-family: 'FZLanTingHeiS-DB-GB';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: justify;
  color: #000000;
  text-indent: 2em;
}