/* 详情页样式 */
.detail-page {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.back-btn1_2 {
  position: absolute;
  top: 1794px;
  left: 819px;
  width: 200px;
  height: 80px;
  
}

.link1_2 {
  position: absolute;
  top: 368px;
  left: 578px;
  width: 288px;
  height: 105px;
  
}