/* 详情页样式 */
.detail-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.learn-more-btn {
  position: absolute;
  bottom: 130px;
  left: 621px;
  width: 327px;
  height: 120px;
  cursor: pointer;
}