/* 首页样式 */
.home-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.home-header {
  text-align: center;
  color: white;
  margin-bottom: 100px;
}

.home-header h1 {
  font-size: 64px;
  margin: 0 0 20px 0;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.home-header p {
  font-size: 32px;
  margin: 0;
  opacity: 0.9;
}

.learn-more-btn {
  position: absolute;
  bottom: 130px;
  left: 621px;
  width: 327px;
  height: 120px;
}