/* 详情页样式 */
.detail-page {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.back-btn {
  position: absolute;
  left: 1750px;
  top: 42px;
  width: 120px;
  height: 120px;
  
  z-index: 5;
}

.detail-card-carousel {
  position: absolute;
  left: 40px;
  top: 192px;
  width: 1840px;
  height: 810px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 60px; */
  box-sizing: border-box;
  overflow: hidden;
}

.card-viewport {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.card-track {
  display: flex;
  height: 100%;
  gap: 0;
  transition: transform 0.4s ease;
}

.detail-slide {
  width: 100%;
  height: 100%;
  flex: 0 0 100%;
  background-image: url('../../assets/slidesBg.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.detail-card {
  font-family: 'FZCuHeiSong-B-JF';
  font-size: 40px;
  line-height: 50px;
  color: #AC080F;
  position: absolute;
  left: 140px;
  top: 100px;
}

.carousel-btn-left,
.carousel-btn-right {
  position: absolute;
  width: 80px;
  height: 80px;
  
  z-index: 10;
}

.carousel-btn-left {
  width: 100px;
  height: 100px;
  left: 10px;
  top: 545px;
}

.carousel-btn-right {
  width: 100px;
  height: 100px;
  left: 1810px;
  top: 545px;
}

.detail-summary {
  position: absolute;
  /* width: 847px; */
  width: 1580px;
  height: 525px;
  left: 140px;
  top: 192px;
  font-family: 'FZLanTingHeiS-DB-GB';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: justify;
  color: #544025;
  overflow-y: auto;
  padding-right: 20px;
}

.detail-summary::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.detail-summary p {
  margin: 0 0 0.5em 0;
  text-indent: 2em;
  display: block;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}