/* 详情页样式 */
.detail-page {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.back-btn2 {
  position: absolute;
  top: 1600px;
  left: 760px;
  width: 240px;
  height: 100px;
}

.detail2-scroll {
  position: absolute;
  left: 130px;
  top: 230px;
  width: 825px;
  height: 1220px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 12px;
  -webkit-overflow-scrolling: touch;
  color: #fff;
}

.detail2-scroll::-webkit-scrollbar {
  display: none;
}

.detail2-scroll {
  scrollbar-width: none;
}

.detail2-scroll {
  font-family: 'FZLanTingHeiS-DB-GB';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 48px;
  /* or 200% */
  text-align: justify;
  color: #2D2A28;
}

.detail2-scroll strong {
  font-family: 'FZCuHeiSong-B-JF';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 56px;
  /* or 165% */
  text-align: center;
  color: #B1150F;
  white-space: pre-line; /* 支持字符串中的 \n 换行 */
}

.detail2-scroll p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

.detail2-scroll b {
  font-family: 'FZCuHeiSong-B-JF';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 56px;
  /* or 233% */
  text-align: center;

  color: #B1150F;
}