/* 详情页样式：全屏背景图 + 右上角返回按钮 */
.detail-page {
  width: 100vw;
  height: 100vh;
  background: url('../../assets/bg1.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.detail-back-btn {
  position: absolute;
  top: 40px;
  right: 48px;
  width: 120px;
  height: 120px;
}